*

!.gitignore
!.prettierignore
!.prettierrc
!package.json
!pnpm-workspace.yaml
!pnpm-lock.yaml
!tsconfig.json
!wrangler.toml.example
!wrangler.toml
!eslint.config.js
!_routes.json
!_headers
!_redirects
!README.md

# 忽略敏感配置文件
wrangler.local.toml
*.pem
*.key
.env
.env.local

!apps/
!apps/**
!apps/**/*

apps/admin/node_modules/
apps/admin/dist/
apps/site/node_modules/
apps/site/dist/


!content/
!content/**
!content/**/*

!functions/
!functions/**
!functions/**/*

functions/node_modules/

!packages/
!packages/**
!packages/**/*

packages/shared/node_modules/

!scripts/
!scripts/*
